# Configuration file for ImageJ plugin "Rotated Crop"
#
# Comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>INRAE>Rot Crop, "Rotated Crop", net.ijt.rotcrop.plugins.CropOrientedBoxPlugin
Plugins>INRAE>Rot Crop, "Rotated Crop (3D)", net.ijt.rotcrop.plugins.CropOrientedBox3DPlugin
Plugins>INRAE>Rot Crop, "-"
Plugins>INRAE>Rot Crop, "Tangent Crop", net.ijt.rotcrop.plugins.TangentCropPlugin
Plugins>INRAE>Rot Crop, "Tangent Crop (3D)", net.ijt.rotcrop.plugins.TangentCrop3DPlugin
